.d-flex {
  display: flex;
  align-items: center;
}

label {
  font-size: 25px; /* ajustez cette valeur en fonction de la taille de police souhaitée */
  font-weight: bold; /* ou normal, italic, etc. */
  font-style: oblique; /* ou italic, oblique, etc. */
  text-transform: uppercase; /* ou lowercase, capitalize, etc. */
  letter-spacing: 0,5px; /* ajustez cette valeur en fonction de l'espacement souhaité */
}


input {
  width: 50px; /* ajustez cette valeur en fonction de la largeur de votre input */
  margin-right: 10px;
}

#page {
  flex-grow: 1;
}


input[type="number"] {
  color: #6c2323; /* changez cette valeur pour modifier la couleur du nombre choisi */
  background-color: #b7a3a3; /* changez cette valeur pour modifier la couleur de fond de la case */
  border: 1px solid #cccccc; /* changez cette valeur pour modifier la couleur de la bordure de la case */
  padding: 5px; /* ajustez cette valeur pour modifier l'espacement interne de la case */
}


/* Place les boutons en haut */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  z-index: 1; /* Valeur de z-index inférieure pour les boutons */
}

/* Positionne le bouton d'affichage des clients en haut à droite */
#nbelt {
  margin-right: 20px;
}

.page-input {
  display: inline-block;
  width: 50px;
  height: 25px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 5px;
}

.page-input:focus {
  outline: none;
  border-color: #009879;
}


/* Place le titre au-dessus des boutons */
main {
  margin-top: 80px;
  position: relative;
  z-index: 2; /* Valeur de z-index supérieure pour le titre */
}


body {
  background-color: #f3f3f3;
}

.stable {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.bg-custom{
  background-color: rgba(240, 240, 240, 0.5);
}

.page-link {
  color: #980000; 
}

.page-link:hover {
  color: #980000; 
}

.stable th {
  background-color: #980000;
  color: #ffffff;
  text-align: left;
}

.stable th,
.stable td {
  padding: 12px 15px;
  text-align: center;
 
}

.stable tr {
  border-bottom: 1px solid #c33d3d;
}



.stable tr:last-of-type {
  border-bottom: 2px solid #c14343;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.button1 {
  background-color: #9b3030;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button1:hover {
  background-color: #0069d9;
}

#go-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}







/* Place les boutons en haut */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  z-index: 1; /* Valeur de z-index inférieure pour les boutons */
}

/* Positionne le bouton d'affichage des clients en haut à droite */
#nbelt {
  margin-right: 20px;
}

.page-input {
  display: inline-block;
  width: 50px;
  height: 25px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 5px;
}

.page-input:focus {
  outline: none;
  border-color: #009879;
}


/* Place le titre au-dessus des boutons */
main {
  margin-top: 80px;
  position: relative;
  z-index: 2; /* Valeur de z-index supérieure pour le titre */
}
